services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: hireup-dev
    ports:
      - "8080:8080"
    volumes:
      - .:/app
      - /app/tmp
    environment:
      - GIN_MODE=debug
    command: air -c .air.toml