@import "tailwindcss";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}



html,
body {
  width: 100%;
  height: 100%;
}

.custom-container {
  margin-left: 3rem;
  margin-right: 3rem;
}


/* Animacao do h1 da hero section */

@keyframes roll-out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes roll-in {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.roll-out {
  animation: roll-out 0.2s ease-in forwards;
}

.roll-in {
  animation: roll-in 0.2s ease-in forwards;
}

.roll-container {
  overflow: hidden;
  position: relative;
  padding-bottom: 0.5rem;
}

.roll-container h1 {
  display: block;
}

/* barra de em construcao animada */

@keyframes pulse-slow {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}
.pulse-slow {
    animation: pulse-slow 2s ease-in-out infinite;
}