<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/dist/output.css">
  <title>HireUp</title>
</head>

<body class="bg-black">
  <section class="flex flex-col items-center">
      <div class="pt-18">
          <img src="/public/imgs/logo-bg-black.jpg" alt="HireUp" class="h-28 w-auto ">
      </div>

    <header class="mt-18 md:mt-20 items-center text-center flex flex-col gap-6 md:gap-12">

      <div class="flex flex-col items-center gap-6 md:gap-8">
        <h1 class="text-amber-50 text-xl md:text-4xl font-bold">EM CONSTRUÇÃO</h1>
      </div>

      <div class="flex justify-center gap-2">
        <span class="w-3 h-3 bg-amber-500 rounded-full animate-bounce" style="animation-delay: 0s"></span>
        <span class="w-3 h-3 bg-amber-500 rounded-full animate-bounce" style="animation-delay: 0.2s"></span>
        <span class="w-3 h-3 bg-amber-500 rounded-full animate-bounce" style="animation-delay: 0.4s"></span>
      </div>

      <p class="text-amber-50 text-lg md:text-xl">Nosso site estará disponível em breve</p>

      <span class="text-gray-400 ">Dúvidas? Entre em contato:
         <a href="mailto:relacionamento@hireupsolutions.com.br">
         <u class="text-amber-600">relacionamento@hireupsolutions.com.br</u>
        </a>
      </span>

    </header>
  </section>

</body>

</html>