<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/dist/output.css">
  <title>HireUp</title>
</head>

<body>

  <section class="bg-black">

    <nav id="opened-menu" class="hidden fixed top-0 right-0 pt-8 w-full h-screen px-4          bg-white z-50 transform translate-x-full transition-transform duration-300            ease-in-out">      
        <div class="flex flex-col gap-12 md:gap-20 custom-container">

            <div class="flex justify-between">
              <a href="#hero" class="">
                <img src="/public/imgs/logo-bg-white.jpg" alt="HireUp" class="h-12 w-auto ">
              </a>
              <span id="close-menu-button" class="text-2xl font-bold cursor-pointer hover:scale-110 duration-75">X</span>
            </div>

            <div class="flex flex-col gap-8 md:gap-12 md:w-[50vw] md:ml-auto">
              <div class="flex flex-col gap-3 md:gap-6">
                <a href="/" class="text-2xl md:text-4xl font-light inline-block transition-transform duration-300 hover:-translate-y-2 w-fit">INÍCIO</a>
                <hr class="">
              </div>

              <div class="flex flex-col gap-3 md:gap-6">
                <a href="/" class="text-2xl md:text-4xl font-light inline-block transition-transform duration-300 hover:-translate-y-2 w-fit">SERVIÇOS</a>
                <hr class="">
              </div>

              <div class="flex flex-col gap-3 md:gap-6 ">
                <a href="/" class="text-2xl md:text-4xl font-light inline-block transition-transform duration-300 hover:-translate-y-2 w-fit">VAGAS</a>
                <hr>
              </div>

              <div class="flex flex-col gap-3 md:gap-6 ">
                <a href="/" class="text-2xl md:text-4xl font-light inline-block transition-transform duration-300 hover:-translate-y-2 w-fit">CONTATO</a>
                <hr>
              </div>
            </div>
      </div>
    </nav>


    <nav class="pt-8  mx-auto px-4 bg-black custom-container">
      <div class="flex justify-between items-center">
        <div>
          <a href="#hero" class="block">
            <img src="/public/imgs/logo-bg-black.jpg" alt="HireUp" class="h-12 w-auto ">
          </a>
        </div>
        <button id="open-menu-button" class="text-amber-50  md:text-2xl bg-neutral-800 px-2 py-1  md:px-3 md:py-2 rounded-sm cursor-pointer border border-transparent hover:border-amber-50 transition-colors">
          &#9776;
        </button>
      </div>
    </nav>




    <header class="bg-black mt-20 md:mt-56  pb-12 md:pb-20   custom-container flex flex-col gap-20 md:gap-36">

      <div class="flex flex-col gap-8 md:gap-12 max-w-3xl ">
        <div class="roll-container">
          <h1 id="rotating-title-h1" class="text-amber-50 text-3xl md:text-5xl text-center md:text-left"></h1>
        </div>
        <p class="text-amber-50 text-lg md:text-2xl font-light text-center md:text-left">Transforme seu time com a empresa que está revolucionando o mercado de recrutamento e seleção.
        </p>
      </div>

      <div class=" flex flex-col md:flex-row gap-12">
        <h2 class="text-amber-50 text-2xl md:text-4xl text-center md:text-left">Somente <span class="font-bold">especialistas</span> de verdade podem garantir um processo ágil e assertivo para seu recrutamento e seleção.</h2>
        <div class="flex flex-col gap-10 justify-center">
          <p class="text-amber-50 text-lg md:text-2xl font-light text-center md:text-left hover:scale-105 transition-all duration-500">Nosso método é baseado em entrega contínua e assertiva, não trabalhamos com <span class="text-gray-500">“shortlists” limitadas</span> ou entrega de perfis desalinhados.</p>
          <p class="text-amber-50 text-lg md:text-2xl font-light text-center md:text-left hover:scale-105 transition-all duration-500">Por isso, não nos consideramos uma consultoria, mas sim uma extensão do seu negócio.</p>
          <button class="bg-amber-500 text-black font-light rounded-4xl w-fit px-6 py-4 text-lg md:text-xl hover:bg-gray-800 hover:text-amber-50 hover:scale-105 transition-all mx-auto md:mx-0">Quero um recrutamento especializado</button>
        </div>
      </div>

    </header>
  </section>
  <section class="bg-white custom-container flex flex-col gap-24 mt-20 pb-12 md:pb-20">
    <div class="flex flex-col gap-6 md:gap-3">
      <h3 class="text-gray-800 text-3xl md:text-5xl text-center md:text-left  ">Feito sob medida: a sua.</h1>
        <p class="text-gray-800 text-lg md:text-2xl text-center md:text-left">Temos squads especializadas de acordo com o seu momento:</p>
    </div>

    <div class="flex flex-col gap-8 md:grid md:grid-cols-2 md:gap-8">
      <div class="flex flex-col gap-6 md:gap-10 text-center md:text-left">
        <h4 class="text-black text-3xl md:text-5xl">TALENT HACKER</h4>
        <p class="text-black text-lg ml-1 md:ml-2">Recrutamento especializado em tecnologia.</p>
        <hr class="text-gray-400 mt-auto md:mr-8">
      </div>
      <div class="flex flex-col gap-6 md:gap-10 text-center md:text-left">
        <h4 class="text-black text-3xl md:text-5xl">TALENT INVEST</h4>
        <p class="text-black text-lg ml-1">Recrutamento especializado em demandas do mercado financeiro.</p>
        <hr class="text-gray-400 mt-auto md:mr-8">
      </div>
      <div class="flex flex-col gap-6 md:gap-10 text-center md:text-left">
        <h4 class="text-black text-3xl md:text-5xl">TALENT HUNTER</h4>
        <p class="text-black text-lg ml-1 md:ml-2">Recrutamento especializado em tecnologia.</p>
        <hr class="text-gray-400 mt-auto md:mr-8">
      </div>
      <div class="flex flex-col gap-6 md:gap-10 text-center md:text-left">
        <h4 class="text-black text-3xl md:text-5xl">TALENT GLOBAL</h4>
        <p class="text-black text-lg ml-1 ">Recrutamento especializado em demandas do mercado financeiro.</p>
        <hr class="text-gray-400 mt-auto md:mr-8">
      </div>
      <div class="flex flex-col gap-6 md:gap-10 text-center md:text-left">
        <h4 class="text-black text-3xl md:text-5xl">TALENT FIRST</h4>
        <p class="text-black text-lg ml-1 ">Recrutamento especializado em demandas do mercado financeiro.</p>
        <hr class="text-gray-400 mt-auto md:mr-8">
      </div>
      <div class="flex flex-col gap-6 md:gap-10 text-center md:text-left">
        <h4 class="text-black text-3xl md:text-5xl">BOOST LABS</h4>
        <p class="text-black text-lg ml-1 ">Recrutamento especializado em demandas do mercado financeiro.</p>
        <hr class="text-gray-400 mt-auto md:mr-8">
      </div>
    </div>
  </section>

  <section class="bg-black pt-20 pb-12 md:pb-20 flex flex-col gap-6 md:gap-12">
    <div class="flex flex-col gap-6 md:gap-8 custom-container">
      <h4 id="rotating-title-h1" class="text-amber-50 text-3xl md:text-5xl text-center md:text-left">Prático, ágil e assertivo.</h1>
        <p class="text-amber-50 text-lg md:text-2xl font-light text-center md:text-left max-w-4xl">Na escolha da parceria ideal para conduzir o recrutamento na sua empresa, lembre-se que <u class="text-amber-500">contratar errado custa caro</u>. Confie em especialistas – de verdade.
        </p>
    </div>

    <div class="flex flex-col md:grid md:grid-cols-3 gap-3 md:gap-6 custom-container">

      <div class="flex flex-col gap-4 md:gap-10 bg-black border border-neutral-800  px-6 py-8">
        <h4 class="text-amber-50 text-2xl md:text-3xl">Squads especializadas</h4>
        <p class="text-amber-50 text-lg font-light">com recrutadores experientes e dedicados para cada segmento de atuação</p>
      </div>

      <div class="flex flex-col gap-4 md:gap-10 bg-black border border-neutral-800  px-6 py-8">
        <h4 class="text-amber-50 text-2xl md:text-3xl">Squads especializadas</h4>
        <p class="text-amber-50 text-lg font-light">com recrutadores experientes e dedicados para cada segmento de atuação</p>
      </div>

      <div class="flex flex-col gap-4 md:gap-10 bg-black border border-neutral-800  px-6 py-8">
        <h4 class="text-amber-50 text-2xl md:text-3xl">Squads especializadas</h4>
        <p class="text-amber-50 text-lg font-light">com recrutadores experientes e dedicados para cada segmento de atuação</p>
      </div>

      <div class="flex flex-col gap-4 md:gap-10 bg-black border border-neutral-800  px-6 py-8">
        <h4 class="text-amber-50 text-2xl md:text-3xl">Squads especializadas</h4>
        <p class="text-amber-50 text-lg font-light">com recrutadores experientes e dedicados para cada segmento de atuação</p>
      </div>

      <div class="flex flex-col gap-4 md:gap-10 bg-black border border-neutral-800 px-6 py-8">
        <h4 class="text-amber-50 text-2xl md:text-3xl">Squads especializadas</h4>
        <p class="text-amber-50 text-lg font-light">com recrutadores experientes e dedicados para cada segmento de atuação</p>
      </div>

      <div class="flex flex-col gap-4 md:gap-10 bg-black border border-neutral-800 px-6 py-8">
        <h4 class="text-amber-50 text-2xl md:text-3xl">Squads especializadas</h4>
        <p class="text-amber-50 text-lg font-light">com recrutadores experientes e dedicados para cada segmento de atuação</p>
      </div>

    </div>

    <div class="flex justify-center md:justify-start">
      <button class="bg-amber-500 text-black font-light rounded-4xl w-fit px-6 py-4 text-lg md:text-xl hover:bg-gray-800 hover:text-amber-50 hover:scale-105 transition-all custom-container align-middle">Quero um recrutamento especializado</button>
    </div>
  </section>



  <script src="/public/script.js"></script>
</body>

</html>